html {

    background: url('template/fieldbackground.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

body {

    line-height:1.4;
    font-family:“Lucida Sans”, “Lucida Grande”, “Lucida Sans Unicode”, sans-serif 
        font-size:13px;
    color: #666;
}


p {
    margin-bottom:12px;
    text-align: left;
}
#container {

    width:960px;
    margin:40px auto;
    display:block;
    position:relative;


    z-index:5;
}
.newsImage {
    float:left;
    width:280px;
    padding-right:20px;
}
.newsImage img {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width:280px;
}
.newsContent {

}
h1 {
    font-family: 'Michroma', sans-serif;
    font-size: 30px;
    font-style: normal; 
    font-weight: 700;
    text-shadow: none;
    text-decoration: none;
    color: #00358e;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
    margin-bottom:15px;
}

h2 {
    font-family: 'Michroma', sans-serif;
    font-size: 20px;
    font-style: normal; 
    font-weight: 700;
    text-shadow: none;
    text-decoration: none;
    color: #00358e;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
    margin-bottom:10px;
}

h3 {
    font-family: 'Michroma', sans-serif;
    font-size: 18px;
    font-style: normal; 
    font-weight: 700;
    text-shadow: none;
    text-decoration: none;
    color: #00358e;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
    margin-bottom:10px;
}
#header_container{
    background:url('template/headerback.jpg') repeat-x top center ;
    height:162px;
    display:block;
}
#slideshow_container{
    background:#ffffff;;
    height:460px;
    display:block;
    padding:10px;
    width:940px;
}

#slideshow {
    padding:15px;
}

#frontpage_slideshow_footer {
    background: url('template/HomeSlide_FooterGraphic.jpg') no-repeat transparent;
    width:910px;
    height:116px;
    margin-top:3px;

}
.slideshow_text {
    padding-top:10px;
    width:700px;
    padding-left:140px;
    color:#fff;

}
.slideshow_text a {
    text-decoration:none;
    color:#fff;
}

.slideshow_text a:hover {
    text-decoration:none;
    color:#fff;
}
.slideshow_text h2{


    color:#fff;

}

.right_column {

    margin-right: 0;
    width:265px;
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;

}
.corner_cart {
    background-color: #B9C9FE;
    color:#fff;
    padding:5px;
    height:40px;
}
#header {

    height:161px;
    width:100%;

    display:block;
    position:relative;
    z-index:15;
    background:url('template/bigheaderback.jpg') no-repeat top center; 
    border-bottom: solid 5px #010750;

}
#loginbox input{
    float:left;
    border:0px;
}
#submitbutton {
    background:#2c66b0;
    color:#fff;
}
#inputs  {


    width:95px;
    margin-right:3px;
}
#footer {
    padding:30px 25px 25px 25px;
    height:115px;

    background: url('template/footerbackground.jpg') repeat-x;
    display:block;
    position:relative;

    border-top: solid 0px #4a5b63;
}
#backfooter {
    display:block;
    position:relative;

    z-index:0;
    margin-top: -45px;
    padding-top:50px;
    width:100%;

    color: #AAA;

}

.spanlink {
    color: #607890;
    text-decoration: underline;
    cursor: pointer;

}
#logo {

    background:url('template/logo.png') no-repeat;
    padding-top:0px;
    text-align: left;
    padding-bottom:0px;
    height:102px;
    color:#ffffff;
    position:relative;
    display:block;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;



}
.cattable {
    margin:3px 0 ;
    padding:2px 2px 2px 6px;
    background: #ddd;
    border:solid 0px #5b6b8a;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}
#menutop { 

    width:100%;
    height:41px;
    text-align: left;
    font-family: sans-serif;
    text-transform: uppercase;
    background:url('template/menuback.jpg') repeat-x;
    font-size: 11px;
    padding-top: 0px;
    border-bottom: solid 1px #9fceee;
    line-height:38px;;


    z-index:25;
    display:block;
    position:relative;
}
#menutop ul {
    height:41px;

    margin: 0px;
    padding:0px 0px 0px 60px;
    list-style-type: none;
    text-align: center;
}

#menutop ul li {
    float:left;
    display:inline;
    height:41px;

}

#menutop ul li a {

    display:block;
    line-height:41px;
    padding:0 8px;
    text-decoration:none;
    background: none;
    color: #fff;
}
#menutop ul li a:hover {
    line-height:41px;
    height:41px;
    background: #3d77c0;
    background:-webkit-gradient(linear, 0% 76%, 0% 21%, from(#3d77c0), to(#4183c7));

}




.socialicons {

    float:left; position:relative; 
}
.linkicons {
    padding-top:20px;
    float:left; position:relative; padding-right:10px;
}
.linkicons img {
    margin-left:20px; 
}
.footermenu {
    float:left; 
    padding-top:20px;
    position:relative; 
    padding-left:10px;

    font-size: 0.8em;
    line-height: 1.6em;
}
.footermenu ul {

    margin-left: 0px;
}
.footermenu li {
    display:inline;
    padding-left: 0px;
    padding-right:5px;

}

.footermenu a {
    text-decoration:none;
    color: #aaa;
    border-right:1px #292929;

}

.slide_area {
    width:960px;
    height:325px;
    margin: 10px auto;
    position:relative;

    display:block;
    z-index:20;

}

#bodycontainer {
    width:960px;
    display:block;
    margin:0 auto;
    background-color: #ffffff;
}
#textcontainer {

    padding-top:0px;
    padding-bottom:10px;
}
#sidebox {

    margin-right:10px;
    margin-left:10px;
}
#sideboxitem {
    border-top: solid 3px #4a5b63;
    border-bottom: solid 3px #4a5b63;
    margin:10px;
    padding:10px;

    color: #333333;

}

#seo_links {
    float:left; 
    padding-top:0px;
    position:relative; 
    padding-left:0px;

    font-size: 0.8em;
    line-height: 1.6em;
}

#seo_links ul {
    width: 560px;
    margin-left:0px;
}
#seo_links ul li {
    float:left;
    width:185px;
    list-style: none;
}
br
{

    clear:left;
}
#seo_links ul li a{
    display:block;
    width:185px;
    text-decoration: none;
}


.label {
    clear:both;

    padding-right:5px;
    width:200px;
    font-weight: bold;
}

.product_input_l {
    float:left;
    margin:0px 5px 5px 0;
    width:295px;
    padding:5px;
    border:1px solid #ababab;
    -moz-box-shadow:inset 2px 0px 38px #dddddd;
    -webkit-box-shadow:inset 2px 0px 38px #dddddd;
    box-shadow:inset 2px 0px 38px #dddddd;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.product_input_r {
    float:left;
    margin:0px 0 5px 5px;
    width:295px;
    padding:5px;
    border:1px solid #ababab;
    -moz-box-shadow:inset 2px 0px 38px #dddddd;
    -webkit-box-shadow:inset 2px 0px 38px #dddddd;
    box-shadow:inset 2px 0px 38px #dddddd;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.editarea {
    float:left;
    width:300px;
}

#gallery, #upload {
    border: 1px solid #ccc; 
    margin: 10px auto;
    padding: 10px 0px 10px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#blank_gallery {
    font-family: Arial; font-size: 18px; font-weight: bold;
    text-align: center;

}
.thumb {
    float: left; width: 135px; height: 140px; padding: 10px; margin: 0px; background-color: #ddd;
    border:solid 1px #000000;
    cursor:move;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:inset 2px 0px 38px #aaa;
    -webkit-box-shadow:inset 2px 0px 38px #aaa;
    box-shadow:inset 2px 0px 38px #aaa;
}
.thumb:hover {
    background-color: #fff;
    -moz-box-shadow:inset 2px 0px 38px #91c0ee;
    -webkit-box-shadow:inset 2px 0px 38px #91c0ee;
    box-shadow:inset 2px 0px 38px #91c0ee;
}


#sortablethumb { list-style-type: none; margin: 0; padding: 0; 
}
#sortablethumb li { margin: 0px 0px 0px 0; padding: 0 9px 9px 0; float: left; width: 155px; height: 180px;  text-align: center; 
}


img {
    border: 0;
}
#gallery:after {
    content: "."; visibility: hidden; display: block; clear: both; height: 0; font-size: 0;
}

.product_input_l select {
    font-size:12px;
    width:100px;

}
#attributes input {
    border:1px solid #aaaaaa;
    width:100%;
    font-size:12px;
    background:transparent;
    margin: 3px 0;

    -moz-box-shadow:inset 2px 0px 4px #ddd;
    -webkit-box-shadow:inset 2px 0px 4px #ddd;
    box-shadow:inset 2px 0px 4px #ddd;
}
#attributes tr {
    margin:4px;
}



#label_attribute {
    float:left;
    background:#dddddd;
    border:0px solid #dddddd;
    width:46px;
    padding:0 3px;
    font-size:12px;

}
.deletebutton input {
    width:20px;
}

#sidecats {
    background:#B9C9FE;
    color:#039;
    border-top: 4px solid #AABCFE;
    margin-right:0px;
    padding:0px;
}
#sidecats p {

    padding:8px 5px 7px 5px;
    margin-bottom:0px;
    border-bottom:1px solid #fff;
}

#productview {

    float:left;
    padding:10px;
    width: 134px;
    height: 129px;


}

/*
        root element for the scrollable.
        when scrolling occurs this element stays still.
*/
.scrollable {

    /* required settings */
    position:relative;
    overflow:hidden;
    width: 570px;
    height:105px;
}

/*
        root element for scrollable items. Must be absolutely positioned
        and it should have a extremely large width to accommodate scrollable items.
        it's enough that you set width and height for the root element and
        not for this element.
*/
.scrollable .items {
    /* this cannot be too large */
    width:20000em;
    position:absolute;
}

/*
        a single item. must be floated in horizontal scrolling.
        typically, this element is the one that *you* will style
        the most.
*/
.items div {
    float:left;
}

ul.catmenu, ul.catmenu ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.catmenu a {
    display: block;
    text-decoration: none;	
}

ul.catmenu li {
    margin-top: 1px;
}

ul.catmenu li a {
    background: #2c66b0;
    color: #fff;	
    padding: 0.5em;
}

ul.catmenu li a:hover {

    background: #3d77c0;
    color: #fff;	
}

ul.catmenu li ul li a {
    background: #7492fd;
    color: #339;
    padding-left: 20px;
}

ul.catmenu li ul li a:hover {
    background: #d0dafd;
    color: #339;
    border-left: 5px #2c66b0 solid;
    padding-left: 15px;
}

#specorder {
    width:100%;
}
#disclaimer {

    padding:10px 0px;
    font-size: 0.8em;
}

#keyFeatures {

    padding:10px;
    margin-right:0px;
    margin-bottom:10px;
    border-top: 4px solid #aabcfe;
    background: #b9c9fe;
}

#box-table-a
{

    font-size: 12px;
    margin:0 0px 0px 0px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
#box-table-a th
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
}
#box-table-a td
{
    padding: 8px;
    background: #e8edff; 
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
    background: #d0dafd;
    color: #339;
}


#box-table-b
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: center;
    border-collapse: collapse;
    border-top: 7px solid #9baff1;
    border-bottom: 7px solid #9baff1;
}
#box-table-b th
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #e8edff;
    border-right: 1px solid #9baff1;
    border-left: 1px solid #9baff1;
    color: #039;
}
#box-table-b td
{
    padding: 8px;
    background: #e8edff; 
    border-right: 1px solid #aabcfe;
    border-left: 1px solid #aabcfe;
    color: #669;
}
.admin_menu_container {
    background:#444;
    border-bottom:4px solid #222;
    display:block;
    position:relative;
    clear:both;
}
.admin_menu {
    color:#eee;
    background:#444;
    width:960px;
    margin:0 auto;
    padding:3px 0;
    font-size: 11px;
    text-transform: uppercase;

}
.admin_menu a {
    padding:9px 10px 9px 0;
    color: #eee;
    text-decoration: none;
}

#products_mega {
    position:absolute;
    top:40px;
    width:940px;

    background-color: rgba(45, 102, 176, 0.9);
    background: rgba(45, 102, 162, 0.9);


    color: #fff;
    font-size:10px;
    padding:5px 10px;
    border-top:3px solid #3d77c0;
    border-bottom:3px solid #3d77c0;
    line-height:14px;
}

.mega_container {
    z-index:1000;
    background:#3d77c0;
    padding:5px 0px;
    margin:5px;
}

.mega_cats {
    margin-bottom:3px;
    border:0px solid #333333;
}
.mega_item {
    padding:1px 5px;
    border-bottom:1px solid #abbdfe;
}

#products_mega h4 {
    margin:3px 5px 5px 5px;

}

#products_mega a {
    background:none;
    height: 15px;
    line-height:15px;
    color:#ffffff;
    text-decoration:none;
}
#generic_form {

    padding:5px;
    background:#B9C9FE;
    margin-bottom:10px;
}

#generic_form input {

    border:0px;
}

.socialicons a {

    text-decoration: none;

}

.product_cat_list {

    padding:3px;
    margin:2px;
    color:#fff;
    background:#2c66b0;
    float:left;
}

.stockistButton {
	float:left;
	cursor:pointer;
	padding:10px;
	margin:3px;
	color:#fff;
	background:#2c66b0;
}
.stockist {
	float:left;
	width:193px;
	height:170px;
	background:#B9C9FE;
	padding:5px;
	margin:3px;
}
.stockistMenu {
	height:88px;
	clear:both;
	display:block;
	
	background:#B9C9FE;
}